<div class="p-firstview">
    <!-- <picture>
        <source srcset="./images/common/PC_FV.jpg" media="(min-width: 768px)" />
        <img src="./images/common/FV_SP.jpg" alt="firstview">
    </picture> -->
</div>