<div class="p-introduction l-inner">
    <div class="p-intro-wrap">
        <div class="p-intro-wrap__text">
            <p class="p-intro-wrap__header">未経験者でも安心<br>経営まで学べる環境が<br>LIMEにはある</p>
            <p class="p-intro-wrap__body">LIMEでは独自の研修制度が整備されているため<br>
                経験者はもちろん未経験者でも<br>
                安心して学べる環境があります</p>
            <p class="p-intro-wrap__body">今後も多数出店計画があるので、<br>
                1から出店に携わる経験ができます</p>
        </div>
        <div class="p-intro-wrap__img">
            <img src="./images/common/introduction-img.png" alt="intro-img">
        </div>
    </div>
</div>