<div class="p-message l-inner">
    <div class="c-section-title">
        <h2 class="c-section-title__main c-section-title__blue">message</h2>
        <p class="c-section-title__sub">奈央からのメッセージ</p>
    </div>

    <div class="p-message__body c-message">
        <picture>
            <source srcset="./images/common/notebook_pc.jpg" media="(min-width: 768px)" />
            <img src="./images/common/notebook_sp.jpg" alt="notebook">
        </picture>
        <div class="c-message__content">
            <img src="./images/common/message-img.png" alt="message">
            <p class="c-message__text">
                初めまして！代表の横山奈央です。
                ハイフ専門店LIMEではお客様一人一人のお悩みに親身に寄り添い即効性のあるハイフで確かな技術を提供しております。<br>
                <br>
                複数店舗運営しておりますが全店舗プライベートサロンのような空間でお客様との距離が近く、密にコミュニケーションを取りながら居心地の良い空間で楽しく接客しております。<br>
                エステティシャン未経験からでも歓迎しているLIMEでは、接客や技術、専門的な知見をしっかりと研修で学び、お客様に満足していただけるサービス力を身につけています。<br>
                <br>
                エステティシャンとしてのスキルアップはもちろんですが、運営業務もエステティシャンみんなで行う独自のスタイルで経営スキルも身に付きます！<br>
                <br>
                全員でハイフ専門店LIMEを拡大し、全員で1つ1つ形を作り上げているのでチームワークはどこにも負けません♪<br>
                エステティシャンとしてお客様に喜んでいただける楽しさや、お仕事に対してやりがいを見つけたい方、エステティシャンだけでなく運営も学びたい方、主体性を持ちたい、大事にしたいという方はぜひLIMEに飛び込んできてください！
            </p>
        </div>
    </div>
    
</div>