<div class="p-member l-inner">
    <div class="c-section-title">
        <h2 class="c-section-title__main c-section-title__pink">member</h2>
        <p class="c-section-title__sub">こんなメンバーが活躍してます</p>
    </div>

    <div class="p-member__intro c-members">
        <div class="c-member">
            <img class="c-member__img" src="./images/common/yasuda.png" alt="yasuda">
            <div class="c-member__wrap">
                <p class="c-member__name">安田萌子</p>
                <p class="c-member__message">
                    LIMEに入社し自分自身の意識や行動が変わりました。<br>
                    協調性やコミュニケーションの大切さや、先を読んで行動する事や、
                    一つ一つに責任を持って行動し感情ではなく理性で行動出来る様になりました。<br>
                    今までのサロンではただ施術をこなすだけの毎日同じ事の繰り返しでしたが、
                    LIMEではエステティシャンが1から店舗を作り、集客し、店舗を大きくするという、
                    今までとは180℃変わった働き方になり、充実感や達成感がかなり多く仕事を通して
                    自分自身も毎日成長出来ています！<br>
                    あとは、LIMEは同世代が多くイベント好きなので、
                    飲み会なども多くて仕事終わりにスタッフ同士で飲みいくのが好きです❤️(笑)
                </p>
            </div>
        </div>
        
        <div class="c-member">
            <img class="c-member__img" src="./images/common/hukada.png" alt="hukada">
            <div class="c-member__wrap">
                <p class="c-member__name">深田奈摘美</p>
                <p class="c-member__message">
                    LIMEに入社し今までの環境がおきく変わりました。まず私は社会人経験ゼロですしエステ経験もゼロでした。<br>
                    パソコンの使い方や社会人としての基礎も何もわからなかったですが
                    １から技術だけではなく学べて成長できる会社です。<br>
                    技術以外にも新店舗の地域や内装をエステシャンが考えます。<br>
                    新店舗がオープンした時は内装が出来上がってオープンしたときは達成感があり、とても楽しいです。<br>
                    またお客様に「内装かわいい」や「ありがとう」という言葉にパワーもらい、それが仕事のやりがいや励みになっています。<br>
                    技術も身につけてお客さんと触れ合うことで私自身も美意識が上がり日々成長ができる環境です。
                </p>
            </div>
        </div>
    </div>
</div>