<div class="p-point l-inner">
    <div class="c-section-title">
        <h2 class="c-section-title__main c-section-title__pink">point</h2>
        <p class="c-section-title__sub">LIMEで働く”魅力5つ”</p>
    </div>

    <div class="p-point__blocks c-point-attract reverse">
        <img class="c-point-attract__img" src="./images/common/point01.jpg" alt="point1">
        <div class="c-point-attract__text pnt01">
            <h3 class="c-point-attract__header">初心者でも安心！<br>充実の研修制度が強い味方</h3>
            <p class="c-point-attract__body">株式会社Limeは、エステティシャンの自己実現・自己成長<br>
                を第一に考える社風があります。<br>
                そのため将来独立したいなどの目標ももちろん応援し、サポートしています。<br>
                給与も毎月固定ではなく、月ごと成果や頑張りに応じて評価する制度をとっており、とても刺激がある環境です。
            </p>
        </div>
    </div>
    
    <div class="p-point__blocks c-point-attract">
        <img class="c-point-attract__img" src="./images/common/point02.jpg" alt="point2">
        <div class="c-point-attract__text pnt02">
            <h3 class="c-point-attract__header">とにかく楽しい</h3>
            <p class="c-point-attract__body">弊社エステティシャンの平均年齢は23.6歳と若いメンバーが多く集まり、
                年齢がみんな近く距離が近いため風通しがよく、自分の意見を形にしやすい環境があります。<br>
                プライベートでも飲みに行ったり、メンバーの誕生日にはみんなで飲み会を開いたりしています
            </p>
        </div>
    </div>
    
    <div class="p-point__blocks c-point-attract reverse">
        <img class="c-point-attract__img" src="./images/common/point03.jpg" alt="point3">
        <div class="c-point-attract__text pnt03">
            <h3 class="c-point-attract__header">エステ、パーソナルジム 、眉毛サロン受け放題！</h3>
            <p class="c-point-attract__body">「キレイ」になるをまずは自分で実感！<br>働きながら自分磨きをしていける！<br>
                ✴︎一部スタッフ料金あり。
            </p>
        </div>
    </div>
    
    <div class="p-point__blocks c-point-attract">
        <img class="c-point-attract__img" src="./images/common/point04.jpg" alt="point4">
        <div class="c-point-attract__text pnt04">
            <h3 class="c-point-attract__header">ノルマ、無理な勧誘なし</h3>
            <p class="c-point-attract__body">LIMEにはノルマがないので、お客様を第一に考えた接客ができます。また、スタッフ同士競い合うことなく、どのサロンでもみんなで協力し合っています。</p>
        </div>
    </div>
        
    <div class="p-point__blocks c-point-attract reverse">
        <img class="c-point-attract__img" src="./images/common/point05.jpg" alt="point5">
        <div class="c-point-attract__text pnt05">
            <h3 class="c-point-attract__header">入社 1年目で
                月収 30万円以上が可能</h3>
            <p class="c-point-attract__body">成果に応じて3ヶ月に一度給与査定があり、昇級のチャンスがあります。<br>
                弊社独自の給与設計により、成果を上げればどんどん給与が上がる仕組みをとっています。
                基本的に成果主義なので、入社して数ヶ月でも成果次第で高収入可能です!
            </p>
        </div>
    </div>


    <div class="p-point__blocks c-point-attract">
        <img class="c-point-attract__img" src="./images/common/point06.jpg" alt="point6">
        <div class="c-point-attract__text pnt06">
            <h3 class="c-point-attract__header">産休制度あり！<br>結婚・出産後も長く安心して働ける</h3>
            <p class="c-point-attract__body">スタッフが素敵な人生を歩んでいただけるよう 働きやすさを考慮した環
                境と制度作りに、いち早く取り組んできました。
            </p>
        </div>
    </div>
    
</div>