<div class="p-recruit l-inner">
    <div class="c-section-title">
        <h2 class="c-section-title__main c-section-title__blue">recruit</h2>
        <p class="c-section-title__sub">募集要項</p>
    </div>

    <div class="p-recruit__body">
        <table class="p-recruit__table">
            <tr>
                <td class="p-recruit__label">雇用形態</td>
                <td class="p-recruit__content">正社員・アルバイト・業務委託　※インターンも可</td>
            </tr>
            <tr>
                <td class="p-recruit__label">勤務時間</td>
                <td class="p-recruit__content">11:30～20:30（実働8時間）　
                    ※お客様の予約時間により、出社・退勤時間は柔軟に調整可能です。</td>
            </tr>
            <tr>
                <td class="p-recruit__label">交通アクセス</td>
                <td class="p-recruit__content">各店舗最寄り駅から徒歩5分圏内</td>
            </tr>
            <tr>
                <td class="p-recruit__label">給与</td>
                <td class="p-recruit__content">◯正社員◯
                    基本給21～40万円＋インセンティブ＋各種手当＋交通費<br>
                    ※給与査定は3ヶ月に1度。頑張り次第でどんどん昇給可能です！<br>
                    ※試用期間最大2ヶ月あり。その間も待遇は同一です。<br>
                    <br>
                    ◯アルバイト◯
                    時給1050〜1500円＋インセンティブ＋交通費<br>
                    ※時給査定は3ヶ月に1度。頑張り次第でどんどん昇給可能です！<br>
                    <br>                    
                    ＜月収例＞
                    ◆Aさんの場合（入社3ヶ月）：26万円<br>
                    （基本給22万円＋インセンティブ＋各種手当＋交通費）<br>
                    ◆Bさんの場合（入社6ヶ月）：40万円<br>
                    （月給30万円＋インセンティブ＋各種手当＋交通費）<br>
                    初年度の年収 
                    300万円～480万円</td>
            </tr>
            <tr>
                <td class="p-recruit__label">昇給・賞与</td>
                <td class="p-recruit__content">昇給：3ヶ月に1回　※インセンティブ制度あり</td>
            </tr>
            <tr>
                <td class="p-recruit__label">諸手当</td>
                <td class="p-recruit__content">交通費(全額支給)</td>
            </tr>
            <tr>
                <td class="p-recruit__label">休日・休暇</td>
                <td class="p-recruit__content">月8日休み（シフト制）※土日祝に休むことも可能です。
                    有給休暇・年末年始休暇</td>
            </tr>
            <tr>
                <td class="p-recruit__label">福利厚生</td>
                <td class="p-recruit__content">社会保険完備　・産休・育休制度<br>
                    社割あり<br>
                    （パーソナルジム受け放題、エステはスタッフ料金で受けられます）<br>
                    シェアハウスあり<br>
                    <br>
                    ※制度を改革中です※<br> 
                    設立間もないため産休・育休の取得実績はありませんが、<br>
                    制度はきちんと用意しているので、<br>
                    ライフステージが変わっても活躍して頂けます！</td>
            </tr>
        </table>
    </div>
    
</div>