<div class="p-work l-inner">
    <div class="c-section-title">
        <h2 class="c-section-title__main c-section-title__blue">work</h2>
        <p class="c-section-title__sub">LIMEでのお仕事</p>
    </div>
    
    <div class="p-work__content">
        <p class="c-block-title">業務内容</p>
        <div class="c-work-types">
            <div class="c-work-type">
                <div class="c-work-wrap">
                    <p class="c-work-type__name">店舗接客</p>
                    <img class="c-work-type__img1" src="./images/common/work-icon1.svg" alt="work1">
                </div>
            </div>
            <div class="c-work-type">
                <p class="c-work-type__name">出店業務</p>
                <img class="c-work-type__img2" src="./images/common/work-icon2.svg" alt="work2">
            </div>
            <div class="c-work-type">
                <p class="c-work-type__name">SNS運用</p>
                <img class="c-work-type__img3" src="./images/common/work-icon3.svg" alt="work3">
            </div>
            <div class="c-work-type">
                <p class="c-work-type__name">サイト運用</p>
                <img class="c-work-type__img4" src="./images/common/work-icon4.svg" alt="work4">
            </div>
            <div class="c-work-type">
                <p class="c-work-type__name">店舗マネジメント</p>
                <img class="c-work-type__img5" src="./images/common/work-icon5.svg" alt="work5">
            </div>
            <div class="c-work-type">
                <p class="c-work-type__name">事務全般</p>
                <img class="c-work-type__img6" src="./images/common/work-icon6.svg" alt="work6">
            </div>
        </div>
    </div>

    <div class="p-work__reason">
        <p class="c-block-title">他のサロンより<br>エステティシャンとして成長できる理由</p>
        <div class="p-work__wrap">
            <div class="c-work-reason">
                <p class="c-work-reason__title">スタッフ同士<br>いつでも聞ける距離感</p>
                <img class="c-work-reason__img" src="./images/common/work-img01.jpg" alt="work-img1">
                <p class="c-work-reason__text">LIMEでは研修で先輩エステティシャンよりお客様へのエステティシャンとしての心得と技術を同時進行で学んでいきます<br>
                    <br>スタッフ同士いつでも聞ける距離感を大事にし分からないことを分からないままにしない自分に自信が付くまで何度も一緒に技術練習出来て自分が納得いくまで行えるのがLIMEの魅力です
                </p>
            </div>
            
            <div class="c-work-reason">
                <p class="c-work-reason__title">新しい自分が<br>発見できる可能性</p>
                <img class="c-work-reason__img" src="./images/common/work-img03.jpg" alt="work-img2">
                <p class="c-work-reason__text">エステティシャンとしての専門的な知見、技術、サービス力の習得だけでなくSNS運用やサイト運用による集客のスキル習得
                    また、新規出店時デザインもエステティシャンが完成させる為１から店舗を作っていくスキル習得も可能
                    研修後は新しい自分が発見できる可能性がLIMEにはあります
                </p>
            </div>
        </div>
    </div>

    <div class="p-work__training">
        <p class="c-block-title">研修内容</p>
        <ul class="p-work__trainingTable">
            <li class="p-work__trainingItem"><span class="text-green">ハイフ</span>を体感</li>
            <li class="p-work__trainingItem"><span class="text-green">ハイフ</span>の知識</li>
            <li class="p-work__trainingItem"><span class="text-green">マッサージ</span>練習（フェイシャル＆ボディ）</li>
            <li class="p-work__trainingItem"><span class="text-green">フェイシャルハイフ</span>練習</li>
            <li class="p-work__trainingItem"><span class="text-green">ボディハイフ</span>練習</li>
            <li class="p-work__trainingItem"><span class="text-green">キャピテーション×ラジオ</span>波の練習</li>
            <li class="p-work__trainingItem"><span class="text-green">カウンセリング＆クロージング</span>練習</li>
            <li class="p-work__trainingItem">モデルさんで<span class="text-green">実践練習</span></li>
            <li class="p-work__trainingItem">予約管理などの<span class="text-green">サロンワーク</span>の練習</li>
        </ul>
    </div>

    <div class="p-work__roadmap">
        <p class="c-block-title wider">スタイリストデビューまでの<br>道のり</p>
        <div class="p-work__roadmapImage">
            <img src="./images/common/roadmap.png" alt="workGraph">
        </div>
        <p class="p-work__roadmapText">
            LIMEでは主体性を持ち、自らで考え動いていける環境を大事にしています。<br>
            エステティシャンとしてだけでなく、SNSやサイト運用、新規出店にみんな
            が携わりお店作りから集客、技術までを学び、運営のスキルも身につきます。
        </p>
    </div>
    

    
</div>