.c-work-reason{
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 5px 5px #000000;
    padding: rem(54) rem(32) rem(80) rem(32);
    margin-bottom: rem(60);
    @include mq(tab){
        width: 45%;
    }
}
.c-work-reason__title{
    font-size: rem(30);
    font-weight: 700;
    color: #4EB187;
}
.c-work-reason__img{
    margin-top: rem(50);
    margin-bottom: rem(40);
}
.c-work-reason__text{
    font-size: rem(18);
    font-weight: 700;
    text-align: left;
}
